<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false" backupStaticAttributes="false" colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Icerbox Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
                <directory suffix="Interface.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>